.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    /*padding: 20px;*/
    color: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 0 10px;
    width: 100%;
    max-width: 450px;
    text-align: left;
}

.menu-item--header {
    /*font-size: 1.5em;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.menu-item-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.restaurant-logo {
/*    should be a full width banner*/
    width: 100%;
    height: auto;
/*    must be cropped in order to limit to 40% of the viewport*/
    max-height: 40vh;
    object-fit: cover;
}
